<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
  <nav style="width:83em;" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cocktail Bar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brewery">Brewery</a>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/drinkMocktail">Mocktails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/drinkCocktail">Cocktails</a>
            </li>
          </ul>
          
        </span>
      </div>
    </div>
  </nav>
    <table class="table table-warning">
        <thead>
          <tr>
            <th class="h3" scope="col">#</th>
            <th class="h3" scope="col">Brewery Name</th>
            <th class="h3" scope="col">Brewery Type</th>
            <th class="h3" scope="col">City</th>
            <th class="h3" scope="col">State</th>
          </tr>
        </thead>
        <tbody>
          
            <% let count=0;%>

            <% for(let i=0;i<breweries.length;i++){%>
          
                  <th class="h3" scope="row"><%=i+1%></th>
                  <td class="h3"><%=breweries[i].name%></td>
                  <td class="h3"><%=breweries[i].brewery_type%></td>
                  <td class="h3"><%=breweries[i].city%></td>
                  <td class="h3"><%=breweries[i].state%></td>
                  </tr>
                <%}%>  
        </tbody>
        </table>

</body>
</html>