<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
 
</head>

<body style="background-image: url('https://images.alphacoders.com/812/thumb-1920-812618.jpg');background-size: cover;background-repeat: no-repeat;width:fit-content;">
  <nav style="width:83em;" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cocktail Bar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link  " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/brewery">Brewery</a>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/drinkMocktail">Mocktails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/drinkCocktail">Cocktails</a>
            </li>
          </ul>
          
        </span>
      </div>
    </div>
  </nav>
   
        <h1 style="color:wheat" class="heading">Welcome to Brewery Page</h1>
        
            <form style="margin:auto"  action="/search" method="POST">
              <p>
                <input class="form-control mr-sm-2" type="search" name="city" placeholder="Enter City" aria-label="Search" required>
                <button style="float: left;" class="btn btn-danger" type="submit">Breweries</button>
              </p>
             
            </form>
       
         
   


</body>
</html>