<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body style="background-image: url(https://th.bing.com/th/id/R.68b9a3d8feb5ed354f42d0e3201a858a?rik=H4V6JQ5bjwglDw&riu=http%3a%2f%2fwww.delightfull.eu%2fblog%2fwp-content%2fuploads%2f2017%2f09%2f100-Design-The-Best-Cocktail-Bars-in-London-for-All-Design-Lovers-1.jpg&ehk=nUeO%2f%2b8pBhHN8Jto%2fDkjOKwmVGvbcw3BqcIIdXaYdQQ%3d&risl=&pid=ImgRaw&r=0);background-repeat: no-repeat; width: max-content;background-size: cover;">
  <nav style="width:83em;" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cocktail Bar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brewery">Brewery</a>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/drinkMocktail">Mocktails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/drinkCocktail">Cocktails</a>
            </li>
          </ul>
          
        </span>
      </div>
    </div>
  </nav>
 
 
   
    <div class="container" style="margin-top: 20%;
    margin-left: 20%;">
      <form action="/cocktail" method="POST">
        <label style="color:white" for="findCocktail">Search your Cocktail</label><br/>
        <input type="text" name="findCocktail" placeholder="Find your drink"/><br/>
        <button class="btn btn-warning" type="submit">Drink</button>
      </form>
      
    </div>
    

  
</body>
</html>